<!doctype html>
<html lang="en">
  <head>
    <title>Census 2011: <%= place.placetype %>: <%= place.name %></title>
    
    <%- include('partials/head'); %>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin=""/>
  </head>

  <body>
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <% for (const p of parents) { %>
            <li class="breadcrumb-item"><a href="/place/<%= p.code %>"><%= p.name %></a></li>
          <% } %>
          <li class="breadcrumb-item active" aria-current="page"><%= place.name %></li>
        </ol>
      </nav>

      <div class="row">
        <div class="col-lg-6">
          <h2>
            <%= place.name %><br />
            <small class="text-muted"><%= place.placetype %> <%= place.code %> from Census 2011</small>
          </h2>
          <dl>
            <dt>Area</dt>
            <dd><%= formatDec(place.area) %> km²</dd>
            <dt>Population</dt>
            <dd><%= formatInt(place.population) %> (<%= formatDec(place.population/place.area) %> per km²)</dd>
            <dt>Households</dt>
            <dd><%= formatInt(place.households) %> (<%= formatDec(place.households/place.area) %> per km²)</dd>
          </dl>
        </div>
        <div class="col-lg-6">
          <div id="place-map"></div>
        </div>
      </div>

      <div class="row mt-3">
        <% if (place.population > 0) { %>
        <div class="col-lg-6">
          <% for (const gc of ['Gender', 'Population group', 'First language']) {
              if (groups[gc].total > 0) { %>
            <h4><%= gc %></h4>
            <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th class="number">People</th>
                  <th class="number">Percentage</th>
                </tr>
              </thead>
              <tbody>
                <% for (const g of groups[gc].groups) { %>
                <tr>
                  <td><%= g.group %></td>
                  <td class="number"><%= formatInt(g.value) %></td>
                  <td class="number"><%= g.applicable ? formatPerc(g.value / (place.population - groups[gc].notapp)) : '' %></td>
                </tr>
                <% } %>
              </tbody>
            </table>
          <% } } %>
        </div>
        <% } %>

        <% if (children.length > 0) { %>
        <% const childTitles = {
          'Province': 'Districts',
          'District Municipality': 'Local Municipalities',
          'Metropolitan Municipality': 'Main Places',
          'Local Municipality': 'Main Places',
          'District Management Area': 'Main Places',
          'Main Place': 'Sub Places'
        }; %>
        <div class="col-lg-6">
          <h4><%= childTitles[place.placetype] %></h4>
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th class="number">Population</th>
                <th class="number">Area (km²)</th>
              </tr>
            </thead>
            <tbody>
              <% for (const child of children) { %>
              <tr>
                <td><a href="/place/<%= child.code %>"><%= child.name %></a></td>
                <td class="number"><%= formatInt(child.population) %></td>
                <td class="number"><%= formatDec(child.area) %></td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
        <% } %>
      </div>
      <%- include('partials/footer') %>
    </div>

    <script src="https://unpkg.com/promise-polyfill@8.1.0/dist/polyfill.min.js"
      integrity="sha384-qPBjsjz9J5u5uee5UQzECfhC8fkjgvJmZiKKAU79FlHjTl5UNrhS4rsaneqtCRQW"
      crossorigin="anonymous"></script>
    <script src="https://unpkg.com/whatwg-fetch@3.0.0/dist/fetch.umd.js"
      integrity="sha384-FhKuW+ZR2hflgmnV7xCkMJCI8bMePuvlqAW0lizfVmOBLfWyB3Wk+dP6+47hN/rP"
      crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
      integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
      crossorigin=""></script>
    <script type="text/javascript">var placecode = '<%= place.code %>';</script>
    <script type="text/javascript" src="/map.js" async></script>
  </body>
</html>